.idea
idea_exploration
.koda_key
.gtfsr_static_key
.gtfsr_rt_key
.openmeteo_key
.hw_key
.github_token

dev_data/*
!dev_data/openmeteo_data
models
best_models
training_datasets/*.pickle

protobuf_defs/gtfs-realtime.proto